env="development"

[logger]
level="DEBUG"
path="logs/bank.log"

[http]
address="127.0.0.1"
fqdn="localhost"
listen-port=8090
port=8090
read-timeout=15
write-timeout=15
shutdown-timeout=10
tls=false

[database]
dsn="postgres://user@localhost/fidl-bank-development?sslmode=disable"
max-open-connections=25
max-idle-connections=25
max-idle-time="15m"

[wallet]
address="f1qbvbikeuozxgoop5bc7nkcokapslxxdy2gucfqa"

[escrow]
address="f1bpzzps6xxcxubq6idqravdcisdpzqemnahxdeoq"
deadline="24h"