env="development"

[logger]
level="DEBUG"
path="logs/bank.log"

[http]
address="127.0.0.1"
fqdn="localhost"
listen-port=8080
port=8080
read-timeout=15
write-timeout=15
shutdown-timeout=10
tls=false

[database]
dsn="postgres://user@localhost/fidl-bank-development?sslmode=disable"
max-open-connections=25
max-idle-connections=25
max-idle-time="15m"

[wallet]