env="development"

[logger]
level="DEBUG"
path="logs/bank.log"

[http]
address="127.0.0.1"
fqdn="localhost"
listen-port=8090
port=8090
read-timeout=15
write-timeout=300
shutdown-timeout=10
tls=false

[database]
dsn="postgres://postgres@localhost/fidl-bank-development?sslmode=disable"
max-open-connections=25
max-idle-connections=25
max-idle-time="15m"

[wallet]
path="./etc/bank.key.example"
address="t410f000000000000000000000000000000000000000"

[escrow]
address="t410f000000000000000000000000000000000000000"
deadline="24h"

[blockchain]
rpc-url="https://api.calibration.node.glif.io/rpc/v1"
gas-limit-multiplier=1.25
gas-price-multiplier=1.5
priority-fee-per-gas-multiplier=1.5
verify-interval=5