env="development"

[route]
balance="/api/v1/balance"
banks="/api/v1/banks"
deposit="/api/v1/deposit"
withdraw="/api/v1/withdraw"
retrieval="/api/v1/fetch"
refund="/api/v1/refund"
authorize="/api/v1/authorize"

[wallet]
path="./etc/cli.key.example"
address="t410f000000000000000000000000000000000000001"

[blockchain]
rpc-url="https://api.calibration.node.glif.io/rpc/v1"
gas-limit-multiplier=1.25
gas-price-multiplier=1.5
priority-fee-per-gas-multiplier=1.5