env="development"

[logger]
level="DEBUG"
path="logs/proxy.log"

[http]
address="127.0.0.1"
fqdn="localhost"
listen-port=8091
port=8091
read-timeout=15
write-timeout=15
shutdown-timeout=10
tls=false

[forwarder]
disable-compression=true
idle-conn-timeout="90s"
header-timeout="10s"
max-idle-conns=100
upstream="http://localhost:7777"

[wallet]
path="./etc/proxy.key.example"
address="f15nrbm4j7ptwl5tdbivasxnqypceh3cb4htpwlta"

[bank.one]
url="http://localhost:8090"

[bank.two]
url="http://localhost:8091"

[provider]
cost=100
sector-size=34359738368

[route]
bank-redeem="/api/v1/redeem"
bank-register="/api/v1/register"
bank-verify="/api/v1/verify"
