env="development"

[logger]
level="DEBUG"
path="logs/proxy.log"

[http]
address="127.0.0.1"
fqdn="localhost"
listen-port=4000
port=4000
read-timeout=15
write-timeout=15
shutdown-timeout=10
tls=false

[wallet]
path="./etc/proxy.key"
address="f1xccu2bjjxu5e7lolwjlzh2rdkg2rdslwgkk7dci"

[bank.one]
register="http://localhost:8080/api/v1/register"

[bank.two]
register="http://localhost:8080/api/v1/register"

[provider]
cost=100
